.swal-compact {
  padding: 0.5em !important;
  width: auto !important;
  max-width: 300px !important;
}

.swal-compact-title {
  font-size: 1em !important;
  padding: 0 !important;
  margin-bottom: 0.25em !important;
}

.swal-compact-content {
  padding: 0 !important;
  font-size: 0.9em !important;
}

.swal2-popup.swal2-toast {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}
