.admin-login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-color: #1a1a1a;
  background-image: url("https://res.cloudinary.com/dqjjysikb/image/upload/v1734331882/AdminLogin-img_cav517.png");
}

.admin-login-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}

.admin-login-form-container {
  background: rgba(33, 33, 33, 0.95);
  padding: 2.5rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);

  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
  }
}

.admin-login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.admin-form-group {
  width: 100%;
}

.admin-login-input {
  width: 90%;
  height: 20px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  &:focus {
    border-color: #4ade80;
    background: rgba(255, 255, 255, 0.1);
  }
}

.admin-login-button {
  width: 100%;
  background: #4ade80;
  color: #000;
  padding: 0.75rem;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background: #22c55e;
  }

  &:active {
    transform: translateY(1px);
  }
}

.admin-login-heading {
  font-size: 5rem;
  color: white;
  font-weight: 700;
  font-family: Kalam;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 10;
}
