@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");

:root {
  --orange-color: #ff6636;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: "Kalam", cursive;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    color: var(--orange-color);
  }
}
